@if( flashMessage('notification') )
   <div id="notification" class="alert alert-{{ flashMessage('notification.type') }} alert-dismissible fade show" role="alert">
    <strong>{{ flashMessage('notification.message') }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
   </div>
@endif